*{
    font-family: Arial, Helvetica, sans-serif; /*Set font family for all elements */
    box-sizing: border-box; /* Set the box size to be the border box of all elements*/
}


body {
    margin: 0; /*Set body element margin to 0px */
    padding: 0;
}

header {
    padding: 10px 30px 10px 30px; /* Added padding to header element */
    height: 100px; /*set height of header to 100px*/
    width: 75%; /*set width of header to 75% of screen width*/
    max-width: 1500px; /* Set maximum header width to 1500px*/
    margin: auto; /*Set margin to auto to centre header element */
}

h1 {
    display: inline-block; /*Set header to display inline with other elements*/
    font-size: 40px; /*Set font size */
}

nav {
    margin: 25px 20px 25px 20px; /* Set margins for navigation element */
    float: right; /*Setting the nav element to float on the right side */
}

nav ul {
    list-style-type: none; /* Setting the list to have no style type */
}

nav li {
    display: inline-block; /*Setting the list element to display inline with other elements */
    margin-left: 25px; /*Added a 25px margin to the left of each list element */
}

.navButtons {
    color: black;
    text-decoration: none; /* Removing all text decoration on the anchor text */
    font-size: 20px;/*Set font size */
}

h2 {
    text-align: center;
    font-size: 35px;/*Set font size */
}

#about {
    /* height: 25%; */
    padding: 50px;
}

#about p {
    font-size: 18px;/*Set font size */
    margin-right: 100px;
}

#avatar {
    float: left;
    margin-left: 100px;
    margin-right: 50px;
}

#projects {
    padding: 50px;
}

#projectCards {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#projectMain{
    flex: 0 1 1000;
}

#contact {
    padding: 50px;
}

#contact ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

#contact li {
    padding: 10px 75px;
    text-align: center;
}