*{
    font-family: Arial, Helvetica, sans-serif; /*Set font family for all elements */
    box-sizing: border-box; /* Set the box size to be the border box of all elements*/
}


body {
    margin: 0; /*Set body element margin to 0px */
    padding: 0;
}
main{
    width: 100%;
}
header {
    padding: 0.5% 2%; /* Added padding to header element */
    
    width: 75%; /*set width of header to 75% of screen width*/
    max-width: 1500px; /* Set maximum header width to 1500px*/
    margin: auto; /*Set margin to auto to centre header element */
}

h1 {
    display: inline-block; /*Set header to display inline with other elements*/
    font-size: 40px; /*Set font size */
}

nav {
    margin: 25px 20px; /* Set margins for navigation element */
    float: right; /*Setting the nav element to float on the right side */
}

nav ul {
    list-style-type: none; /* Setting the list to have no style type */
}

nav li {
    display: inline-block; /*Setting the list element to display inline with other elements */
    margin-left: 25px; /*Added a 25px margin to the left of each list element */
}

.navButtons {
    color: black;
    text-decoration: none; /* Removing all text decoration on the anchor text */
    font-size: 20px;/*Set font size */
}

h2 {
    text-align: center;
    font-size: 35px;/*Set font size */
}

#about {
    height: auto;
    padding: 2%;
    margin-bottom: 0.5%; /* Adds a margin to the bottom of the element */
}

#about p {
    font-size: 18px;/*Set font size */
    margin-right: 100px;
}

#avatar {
    float: left;
    margin-left: 100px;
    margin-right: 50px;
}

#projects {
    padding: 50px;
}

#projectCards {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#projectMain{
    width: 100%;
    flex: 0 1 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#contact {
    padding: 1%;
}

#contact ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

#contact li {
    padding: 10px 75px;
    text-align: center;
}

@media screen and (max-width: 768px) {

    h1 {
        display: flex;
        justify-content: center;
    }

    nav {
        float: none;
        display: flex;
        margin: auto;
        flex-direction: column;
    }

    nav li{
        display: flex;
        justify-content: center;
        margin: 0;
    }

    #avatar {
        margin: 2% 5% 2% 0;
    }

    #about {
        padding: 0 10%;
        margin: auto;
    }

    #about p {
        margin: auto;
    }

    nav li {
        display: flex;
    }

    #projects{
        padding: 5%;
    }

    #projectCards{
        padding: 0;
    }

    .projectCard{
        flex-direction: column;
        justify-content: center;
    }

    #contact ul {
        flex-direction: column;
    }
  }
  